//General styles

body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

ul{
    text-decoration: none;
    list-style: none;
    li{
        list-style: none;
    }

}

#container{
    margin: 0 auto;
    max-width: 1200px;
}


.clearfix::after{
    content: '';
    display: block;
    clear: both;
}