.content{

    h1{
        padding-top: 200px;
        font-size: 13em;
        margin: 0;
    }

    .text{
        width: 635px;
        margin: 0;
        p{
            
            font-size: 1em;
            color: #c6c5c6;
        }

        &::after{
            content: url(../../img/icon1.png);
            height: 75px;
            display: inline-block;
        }
    }
    
    .foto{
        width: 590px;
        height: 590px;
    }
}